{% extends 'layout.html' %}
{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>

    <div class="row">
        <h3 class="col-md-12 text-center">Welcome to TutorU</h3>
    </div>

    {% if current_user.is_authenticated %}
        <div class="row">
            <div class="col-md-4 card p-2">
                <h3 class="card-header bg-tutoru-orange text-white text-center">Profile Info</h3>
                    <div class="card-body">
                        <h5 class="text-center">{{ current_user.fname }} {{ current_user.lname }}</h5>
                        <div>
                            <p><b>Email:</b> {{ current_user.email }}</p>
                            <p><b>Role:</b> {{ current_user.role }}</p>
                        </div>
                    </div>
            </div>
            <div class="col-md-8 card p-2">
                <h3 class="card-header bg-tutoru-orange text-white text-center">Upcoming Sessions</h3>
                <div class="card-columns p-2">
                    {% if classes|length == 0 %}
                        <h3 class="text-center">No Sessions Scheduled!</h3>
                        <a class="btn btn-outline-secondary" href="{{ url_for('register') }}">Schedule a Session</a>
                    {% endif %}

                    {% for (sessionID, tutorEmail, studentEmail, sessionType) in sessions %}
                        <div class="card">
                            <div class="card-title">
                                <h5 class="card-header text-center text-white bg-tutoru-orange">{{ sessionType }} Session</h5>
                                {% if current_user.role == 'Student' %}
                                    <p class="card-text ml-2"><b>Tutor: </b>{{ tutorEmail }}</p>
                                {% endif %}
                                {% if current_user.role == 'Tutor' %}
                                    <p class="card-text ml-2"><b>Student: </b>{{ studentEmail }}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock content %}